.contact{
	.tabs{
		.tab{
			background-color: #fff;
			padding: 20px 26px;
			margin-bottom: 20px;
			@media(min-width:503px){
				margin-bottom: 0px;
			}
		}
		.tab.active{
			background-color: #F53B49;
			color: #fff;
		}
	}
	.map{
		display: block;
		position: relative;
	}
	.map::after{
		content: "";
		width: 100%;
		height: 2px;
		background-color: #858FA433;
		display: block;
		opacity: 20%;
		margin-top: 30px;
	}
	.items-info{
		.items{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			position: relative;
			.item:last-child{
				flex: 4;
			}
			.item:nth-child(2){
				flex: 2;
			}
			.item{
				flex: 1;
				background: transparent;
				.data{
					margin-top: 20px;
					margin-bottom: 20px;
				}
				.link{
					color: #4B7EE8;
					font-weight: 700;
				}
				img{
					width: 100%;
					min-width:250px
				}
			}
		}
	}
	.links{
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		.link{
			position: relative;
			flex: 1;
			padding-top: 20px;
			.subject{
				font-size: 20px;
				font-weight: 500;
				color: #384255;
				font-weight: 700;
				span{
					font-weight: 400;
					color: #384255;
					font-size: 17px;
				}
			}
			.mail{
				width: 100%;
			}
			.subtitle{
				color: #909CB5;
				font-weight: 400;
				font-size: 14px;
			}
		}
		.link::after{
			content: "";
			background-color: #858FA433;
			top: 0;
			width: 100%;
			height: 1px;
			position: absolute;
			opacity: 20%	;
		}
	}
	.stock-info{
		position: relative;
		.items{
			display: flex;
			@media(min-width:600px){
				flex-wrap: nowrap;
				.item{
					width: 50%;
				}
			}
			.item{
				width: 100%;
				.subject{
					font-weight: 800;
					color: #384255;
					font-size: 20px;
				}
				.phone{
					color: #384255;
					font-size: 14px;
				}
			}
		}
		.items::after{
			content: "";
			background-color: #858FA433;
			top: 0;
			width: 100%;
			height: 1px;
			position: absolute;
			opacity: 20%	;

		}
	}
}